pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
dill
rich
Flask
streamlit
# -e .  # creates project as a package (equivalent to running -> pyhton setup.py install) when running pip install -r requirements.txt (un-comment this line)